<footer>
  <div class="footer-mid">
    <div class="links">
      <h2>友情链接</h2>
      <ul>
        <li><a href="http://www.yangqq.com" target="_blank">杨青个人博客</a></li>
        <li><a href="http://blog.marvelcode.com" target="_blank">Marvel Code</a></li>
      </ul>
    </div>
   
    <section class="flickr">
      <h2>摄影作品</h2>
      <ul>
        <li><a href=""><img src="<{$PUBLICPATH}>images/01.jpg"></a></li>
        <li><a href=""><img src="<{$PUBLICPATH}>images/02.jpg"></a></li>
        <li><a href=""><img src="<{$PUBLICPATH}>images/03.jpg"></a></li>
        <li><a href=""><img src="<{$PUBLICPATH}>images/04.jpg"></a></li>
        <li><a href=""><img src="<{$PUBLICPATH}>images/05.jpg"></a></li>
        <li><a href=""><img src="<{$PUBLICPATH}>images/06.jpg"></a></li>
        <li><a href=""><img src="<{$PUBLICPATH}>images/07.jpg"></a></li>
        <li><a href=""><img src="<{$PUBLICPATH}>images/08.jpg"></a></li>
        <li><a href=""><img src="<{$PUBLICPATH}>images/09.jpg"></a></li>
      </ul>
    </section>
  </div>
  <div class="footer-bottom">
    <p>Copyright  <{$smarty.now|date_format:'%Y'}> Design by <a href="http://www.marvelcode.com" target="_blank">小狼BABY, Usar</a></p>
  </div>
</footer>
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"> <a id="togbook" href=""></a> <a id="gotop" href="javascript:void(0)"></a> </div>
<!-- 代码结束 -->
</body>
</html>