<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>Insist Blog</title>
<meta name="keywords" content="小狼BABY，USAR" />
<meta name="description" content="INSIST BLOG" />
<link href="<{$PUBLICPATH}>css/styles.css" rel="stylesheet">
<link href="<{$PUBLICPATH}>css/view.css" rel="stylesheet">
<!-- 返回顶部调用 begin -->
<link href="<{$PUBLICPATH}>css/lrtk.css" rel="stylesheet" />
<script type="text/javascript" src="<{$PUBLICPATH}>js/jquery.js"></script>
<script type="text/javascript" src="<{$PUBLICPATH}>js/js.js"></script>
<script src="<{$PUBLICPATH}>../ckeditor/ckeditor.js"></script>
<!-- 返回顶部调用 end-->
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <nav id="nav">
    <ul>
      <li><a href="/" >网站首页</a></li>
      <li><a href="<{$TEMPLATECURPATH}>/about.html" target="_blank" title="个人博客模板">关于我们</a></li>
    </ul>
    <script src="<{$PUBLICPATH}>js/silder.js"></script><!--获取当前页导航 高亮显示标题--> 
  </nav>
</header>