<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>注册</title>


<link rel="stylesheet" href="<{$PUBLICPATH}>css/login_reset.css" type="text/css" media="screen" />
<!-- Main Stylesheet -->
<link rel="stylesheet" href="<{$PUBLICPATH}>css/login_style.css" type="text/css" media="screen" />
<!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
<link rel="stylesheet" href="<{$PUBLICPATH}>css/login_invalid.css" type="text/css" media="screen" />

</head>

<body id="login">

<div id="login-wrapper" class="png_bg">

  	<div id="login-top">
    	<h1>Usar Adman</h1>
    	<!-- Logo (221px width) -->
    	<img id="logo" src="<{$PUBLICPATH}>images/admin/logo.png" alt="logo" />
    </div>
    
   	<!-- Form表单 --> 
  	<div id="login-content"> 
    	<form id="form1" name="form1" method="post" action="?act=signup">
      		
      		<p>
        		<label>用户名</label>
        		<input class="text-input" type="text"  name="username"/>
      		</p>
      		
      		<div class="clear"></div>
      		
      		<p>
        		<label>密码</label>
        		<input class="text-input" type="password" name="pwd"/>
      		</p>
      		
      		<div class="clear"></div>
      		
      		<p>
        		<label>邮箱</label>
        		<input class="text-input" type="text" name="email"/>
      		</p>
			<div class="clear"></div>
			<p>
        		<label>职业</label>
        		<input class="text-input" type="text" name="profession"/>
      		</p>
			
      		 <div class="clear"></div> <div class="clear"></div>
			 <p style="margin-top:10px; margin-left:90px;"><{$errorMsg}></p>
             
      		<div class="clear"></div>
      		<p>
        		<input class="button" name="login" type="submit" value="注册" />
      		</p>
    	</form>
  </div>

</div>	
</body>
</html>